body{
  background-image: url('bg_image.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; 
  box-sizing: border-box;
  display:flex; 
  flex-direction:column; 
  height:100%;
  margin:0;
}


h2 {
    color: whitesmoke;
    text-align: left;
}

p, li {
    font-family: verdana;
    font-size: 28px;
    color: whitesmoke;
}


.column-left, .column-right {
  float: left;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  display: block;
}


nav {
    overflow: hidden;
    background-color: rgba(117, 117, 117, 0.8);
    padding: 20px 10px;
    display:flex;
    flex-direction: row;
}
  
hr {
  color: whitesmoke;
  width: 98%;  
}

nav a {
  color: whitesmoke;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 28px;
  line-height: 25px;
  border-radius: 4px;
  align-self: center;
}

nav a.logo {
  font-size: 35px;
  font-weight: bold;
}

nav a:hover {
  background-color: #999;
  color: white;
}

nav a.active {
  background-color: #7b7;
  color: white;
}

img {
  float: right;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

section {
  background-color: rgba(117, 117, 117, 0.8);
}

footer {
  /* min-height: 70px; */
  margin-top: auto;
  text-align: center;
  padding: 3px;
  background-color: rgba(117, 117, 117, 0.8);
  color: whitesmoke;
}

footer p {
  font-size: 18px;
}

@media screen and (max-width: 800px) {
  nav {
    flex-direction: column;
  }

  nav a {
    text-align: left;
    width: 95%;
  }
}

@media screen and (max-width: 1024px) {
  .column-left, .column-right {
    width: 100%;
  }
}

